html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    min-width: 300px;
  }
  
  #root {
    width: 100%;
    height: 100%;
    /* hauteur de la navibar */
    --navigbar-height: 50px;
    /* hauteur de la navigbar sur tel */
    --navigbar-mobile-height: 50px;
    /* hauteur de la barre en bas sur tel */
    --mobilebar-height: 60px;
    /* hauteur max composant */
    --comp-max-height: calc(100% - var(--navigbar-height));
    /* hauteur max composant sur tel */
    --comp-mobile-max-height: calc(100% - var(--navigbar-mobile-height) - var(--mobilebar-height));
  }
  
  /* conteneur de la navigbar + composant actuel */
  .App {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  /* container principal des composants */
  .componentContainer {
    height: var(--comp-max-height);
    width: 100%;
    max-height: var(--comp-max-height);
    display: flex;
    justify-content: center;
    overflow: auto;
  }
  
  /* sur telephonne uniquement */
  @media all and (max-device-width: 500px) {
    .componentContainer {
      height: var(--comp-mobile-max-height);
      max-height: var(--comp-mobile-max-height);
    }
  }
  
  
  
  /* Scroll-bar */
  
  
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(190, 190, 190);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(136, 136, 136);
  }